:root{
    --pri:#F8F4E1;
    --sec:#361702;
    --tri1:#FEBA17;
    --tri2:#74512D;
    --red:red;
    


}




@font-face{
    font-family: bold;
    font-weight: 700;
    src: url(./fonnts.com-Aeonik-Bold.ttf);
}
@font-face{
    font-family: normal;
    font-weight: 500;
    src:url(./fonnts.com-Aeonik-Regular.ttf) ;
}
@font-face{
    font-family: light;
    font-weight: 200;
    src: url(./fonnts.com-Aeonik_Light.ttf);

}


*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: normal;
    color: var(--pri);
}

html,body{
    height: 100%;
    width: 100%;

}

#main{
    height: 100%;
    width: 100%;
    background-color: var(--sec);

}

p{
    font-size:50px ;
    font-family: normal;
}

nav{
    width: 100%;
    height: 60px;
    background-color: var(--tri2);
    position: fix;

}

section.allElems{
    height: 100%;
    width: 100%;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 80px;
    background-color: var(-);
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 20px;
    position: absolute;
    
}

.elem{
    background-color: var(--tri1);
    height: 400px;
    width: 245px;
    /* padding: 30px 40px; */
    
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    transition: all ease 0.53;

    box-shadow: 0px 5px 20px rgb(0,0,0,0.2);
}
.elem img{
    height: 100%;
    width: 100%;
    object-fit: cover   ;
}
.elem h2{
    position: absolute;
    bottom: 4%;
    font-weight: 500;
    font-size: 30px;
    right: 5%;
}

.elem:active{
    scale: 0.97;
}

.fullElem{
    height: 100%;
    width: 100%;
    background-color: var(--sec);
    display: none;
    position: absolute;
    padding: 10px 10px;

}
.back{
    position: absolute;
    right: 5%;
    background-color: var(--red);
    border-radius: 10%;
    padding: 6px 9px;
    border: none;
    font-size: 20px;
    font-weight: 500;
}

.back:active{
    scale: 0.97;
}

.todo-list-fullpage{
    display: block;
}
.todo-list-fullpage h2{
    font-size: 60px;
}

.todo-list-fullpage .todo-container{
    height: 80%;
    width: 100%;
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.todo-list-fullpage .todo-container .addTask{
    height: 100%;
    width: 30%;
    background-color: var(--tri2);
    border-radius: 20px;

}

.todo-list-fullpage .todo-container .addTask form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding:30px ;
}

.todo-container .addTask form input#task-input{
    padding:  7px 20px;
    width: 100%;
    font-size: 20px;
    background-color: var(--pri);
    border-radius: 5px;
    border: none;
    outline: none;
    color: var(--sec);
    margin-bottom: 20px;
}

.todo-container .addTask form textarea{
    padding:  7px 20px;
    width: 100%;
    font-size: 20px;
    background-color: var(--pri);
    border-radius: 5px;
    color: var(--sec);
    border: none;
    outline: none;
    margin-bottom: 20px;
}

.todo-container .addTask form button{
    padding:  7px 20px;
    width: 100%;
    font-size: 20px;
    background-color: var(--sec);
    border-radius: 5px;
    border: none;
    outline: none;
    margin-bottom: 20px;
    transition: all ease 0.3;
    background-color: var(--tri1) ;
}
.todo-container .addTask form button:active{

    scale: 0.97;
}


.todo-list-fullpage .todo-container .allTask{
    width: 68%;
    height: 100%;
    background-color: var(--tri2);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 30px;

    overflow: auto;
}

.task{
    display: flex;
    align-items: center;
    justify-content:space-between;
    width: 100%;
    background-color: var(--pri);
    padding: 16px 32px;
    border-radius: 10px;
    margin-bottom: 10px;
    /* color: var(--pri); */

}

.task h5{
    color: var(--sec);
    font-size: 30px;
    display: flex;
    align-items: flex-start;
    gap: 10px;
}
.task h5 span{
    color: var(--pri);
    background-color: var(--red);
    font-size: 30px;
    padding: 3px 8px;
    border-radius: 50px;
    font-size: 11px;

}

.task h5 span.true{
    opacity: 1;
}
.task h5 span.false{
    opacity: 0;
}

.task button{
    padding:15px 30px;
    color: var(--pri);
    background-color: rgb(14, 138, 14);
    font-size: 18px;
    border-radius: 10px;

}

.mark-imp{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 10px 0;
    margin-bottom: 20px;
gap: 30px;
    /* background-color: red; */
}

.mark-imp input{
    scale: 2;
}

.mark-imp label{
    font-size: 20px;

}