:root{
    --pri:#F8F4E1;
    --sec:#361702;
    --tri1:#FEBA17;
    --tri2:#74512D;



}




@font-face{
    font-family: bold;
    font-weight: 700;
    src: url(./fonnts.com-Aeonik-Bold.ttf);
}
@font-face{
    font-family: normal;
    font-weight: 500;
    src:url(./fonnts.com-Aeonik-Regular.ttf) ;
}
@font-face{
    font-family: light;
    font-weight: 200;
    src: url(./fonnts.com-Aeonik_Light.ttf);

}


*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: normal;
    color: var(--pri);
}

html,body{
    height: 100%;
    width: 100%;

}

#main{
    height: 100%;
    width: 100%;
    background-color: var(--sec);

}

p{
    font-size:50px ;
    font-family: normal;
}

nav{
    width: 100%;
    height: 60px;
    background-color: var(--tri2);
    position: fix;

}

section.allElems{
    height: 100%;
    width: 100%;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 80px;
    background-color: var(-);
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 20px;
    position: absolute;
    
}

.elem{
    background-color: var(--tri1);
    height: 400px;
    width: 245px;
    /* padding: 30px 40px; */
    
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    transition: all ease 0.53;

    box-shadow: 0px 5px 20px rgb(0,0,0,0.2);
}
.elem img{
    height: 100%;
    width: 100%;
    object-fit: cover   ;
}
.elem h2{
    position: absolute;
    bottom: 4%;
    font-weight: 500;
    font-size: 30px;
    right: 5%;
}

.elem:active{
    scale: 0.97;
}

.fullElem{
    height: 100%;
    width: 100%;
    background-color: var(--sec);
    display: none;
    position: absolute;
    padding: 10px 10px;

}
.back{
    position: absolute;
    right: 5%;
    background-color: red;
    border-radius: 10%;
    padding: 6px 9px;
    border: none;
    font-size: 20px;
    font-weight: 500;
}

.back:active{
    scale: 0.97;
}